on post-fs && property:ro.product.device=karna
    mount none /dev/null /system/app/NfcNci/NfcNci.apk bind
    setprop ro.power_profile.override power_profile_karna

on post-fs && property:ro.boot.hwc=India
    mount none /dev/null /system/app/NfcNci/NfcNci.apk bind
    setprop ro.power_profile.override power_profile_karna

on post-fs && property:ro.boot.hwc=India_PA
    mount none /dev/null /system/app/NfcNci/NfcNci.apk bind
    setprop ro.power_profile.override power_profile_karna
