on property:ro.product.device=karna
    disable nqnfcinfo
    disable vendor.nfc_hal_service
    disable nqnfc_1_2_hal_service
    disable secure_element_hal_service

on boot && property:ro.boot.hwc=India
    stop nqnfcinfo
    stop vendor.nfc_hal_service
    stop nqnfc_1_2_hal_service
    stop secure_element_hal_service

on boot && property:ro.boot.hwc=India_PA
    stop nqnfcinfo
    stop vendor.nfc_hal_service
    stop nqnfc_1_2_hal_service
    stop secure_element_hal_service
